p,
h1,
h2 {
    padding: 0;
    margin: 0;
}


body {
    font-family: sans-serif;
    height: min-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(23, 23, 23); */
    box-sizing: border-box;
    background-image: url('led2.png');
    background-color: rgb(39, 171, 233); /* Цвет, который вы хотите использовать для изменения */
    background-blend-mode: multiply;
    background-repeat: repeat;
    animation: runBackground 30s linear infinite;
}

@keyframes runBackground{
    from{
        background-position: 0 0;
    } to {
        background-position: 100% 50%;
    }
}



.notification {
    opacity: 1;
    text-align: center;
    position: absolute;
    top:  80px;
    left:  50%;
    transform: translateX(-50%);
    color: rgb(0, 64, 124);
    opacity: 0;
    width: 100%;
    /* animation: notificationAnimation 1s forwards; */
}

/* @keyframes notificationAnimation {
    0% {
        top: -50px;
        opacity: 1;
    }

    100% {
        top: -70px;
        opacity: 0;
    }
} */



.passwordGenerator {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 150px 20px 20px 20px;
    width: 350px;
    height: min-content;
    position: relative;
}

ul {
    list-style-type: none;
    width: 310px;
}

li {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.2);
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
}

li button {
    padding: 5px 20px;
    border: 1px solid rgb(0, 130, 252);
    background-color: rgb(22, 22, 22);
    color: rgb(0, 130, 252);;
}

li button:hover {
    cursor: pointer;
}

.tittle {
    text-align: center;
    margin-bottom: 20px;
}

.gainedText {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.btn {
    margin: 10px auto;
    padding: 10px;
    border: 3px solid rgb(0, 130, 252);
    border-radius: 3px;
    background-color: rgb(22, 22, 22);
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 130, 252);;
}

.btn:hover {
    cursor: pointer;
}

.copyBtn {
    opacity: 0;
}

.checkBoxes {
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

label:hover {
    cursor: pointer;
}



.tree {
    opacity: 0;
    padding-left: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.active {
    opacity: 1;
}

.musicBtns{
    display: flex;
    width: 300px;
    margin: 10px auto;
    justify-content: space-between;
}

.musicBtn{
    width: calc(50% - 5px);
    margin: 0;
}